* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: black;
  color: white;
}

header {
  background-image: url(assests/background\ image.jpg);
  height: 95vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

nav {
  /* background-color: rgb(0, 217, 255); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 8.6%;
  position: relative;
}
nav .logo {
  width: 9.25rem;
  height: 2.5rem;
  color: rgb(229, 9, 20);
  fill: currentColor;
  display: block;
}
.nav-btn {
  display: flex;
  gap: 0.5rem;
}
.nav-btn select {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  cursor: pointer;
  background: transparent;
  border: 1px solid rgba(145, 145, 145, 0.81);
  padding: 3px 24px;
  border-radius: 4px;
}
.nav-btn select option {
  background-color: rgb(255, 253, 253);
  color: rgb(0, 0, 0);
}
.nav-btn .sign-in-btn {
  font-size: 0.9rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  background-color: rgb(229, 9, 20);
}
.header-content {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.header-content h1 {
  font-size: 3.4rem;
  max-width: 600px;
  font-weight: 800;
  margin-bottom: 20px;
}
.header-content h4 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 30px;
}
.header-content p {
  font-size: 1.1rem;
  margin-bottom: 10px;
}
.header-content .email-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* background-color: rgba(0, 217, 255, 0.936); */
  padding: 5px;
  width: 600px;
  margin: auto;
  gap: 5px;
}
.header-content .email-input input {
  width: 1000px;
  height: 55px;
  padding: 10px;
  background: transparent;
  border: 1px solid gray;
  border-radius: 4px;
  color: white;
  text-align: left;
  align-items: center;
}
.email-input input::placeholder {
  color: #a9a9a9;
  font-size: 1.1rem;
}
.header-content .email-input .get-started-btn {
  background: #db0001;
  color: #ffff;
  border-radius: 4px;
  border: none;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  margin-left: 5px;
  cursor: pointer;
  position: relative;
  width: 600px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section2-content {
  color: white;
  position: absolute;
  z-index: 2;
  font-size: 1.5rem;
  font-weight: 700;
  left: 13%;
  bottom: -8%;
}
.second-section {
  /* background-color: chartreuse; */
  display: flex;
  align-self: center;
  gap: 35px;
  margin: auto;
  position: relative;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  max-width: 1250px;
  top: 80px;
  height: 50vh;
  padding: 10px 30px;
}

.second-section::-webkit-scrollbar {
  display: none;
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}
.cards img {
  width: 180px;
  height: 250px;
  border-radius: 10px;
  scroll-snap-align: center;
}
.cards:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.card-num {
  color: black;
  font-size: 6rem;
  -webkit-text-stroke: white 1px;
  font-weight: 800;
  position: absolute;
  top: 55%;
  margin-left: -20px;
}

.third-section {
  margin-top: 60px;
  background-color: black;

  padding: 50px 20px;
  /* background-color: rgb(255, 162, 0); */
}

.third-section h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: 165px;
}
.third-section .boxes {
  display: flex;
  gap: 20px;
  justify-content: center;
  max-width: 1250px;
  margin: auto;
}
.boxes .box {
  background: linear-gradient(145deg, #0d408cda, #711212cd);
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 280px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.boxes .box h3 {
  font-size: 1.3rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
.boxes .box p {
  font-size: 1.1rem;
  line-height: 1.4rem;
}

.boxes .box .img-tv {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  margin-left: 184px;
  margin-top: 63px;
}

.fourth-section {
  /* background-color: chocolate; */
  max-width: 1250px;
  margin: auto;
  height: 90vh;
}
.fourth-section h2 {
  font-size: 1.4rem;
  font-weight: 700;
  margin-left: 5px;
  margin-bottom: 20px;
}
.fourth-section .faq {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.fourth-section .faq-qn {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgb(46, 46, 46);
  gap: 2px;
  align-items: center;
  height: 85px;
}
.fourth-section .faq-qn h3 {
  font-size: 1.4rem;
  font-weight: 600;
}
.fourth-section .faq-qn span {
  font-size: 4.5rem;
  font-weight: 100;
  align-self: center;
  margin-bottom: 20px;
}

.fourth-section .faq-qn:hover {
  background-color: rgba(69, 69, 69, 0.877);
  cursor: pointer;
}
.fourth-section .faq-qn span:hover {
  color: rgb(229, 9, 20);
  transform: rotate(45deg);
  transition: transform 0.1s;
}
footer {
  /* background-color: chocolate; */
  max-width: 1250px;
  margin: auto;
  height: 100vh;
  padding: 40px 20px;
}
footer h4 {
  margin-top: 20px;
  text-align: center;
}
footer .email-input {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  margin: auto;
  gap: 5px;
  margin-top: 20px;
}
footer .email-input input {
  width: 500px;
  height: 55px;
  padding: 10px;
  background: transparent;
  border: 1px solid gray;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  text-align: left;
  align-items: center;
}
footer .email-input input::placeholder {
  color: #a9a9a9;
  font-size: 1.1rem;
}
footer .email-input .get-started-btn {
  background: #db0001;
  color: #ffff;
  border-radius: 6px;
  border: none;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  margin-left: 5px;
  cursor: pointer;
  position: relative;
  width: 200px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer h3 {
  margin-top: 5rem;
  font: 1em sans-serif;
  color: rgb(197, 197, 197);
}
footer .footer-info {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  text-align: start;
  font-weight: 300;
  margin-top: 2rem;
  text-transform: capitalize;
}
footer ul li {
  list-style: none;
  font-size: 0.9em;
  color: rgb(223, 223, 223);
  cursor: pointer;
  line-height: 2rem;
  text-decoration: none;
  text-transform: capitalize;
}
footer ul li a {
  text-decoration: underline;
  text-transform: capitalize;
  color: rgb(223, 223, 223);
}
footer select{

    background: transparent;
    color: white;
    border: 1px solid gray;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
}
footer option{
    background-color: rgb(255, 253, 253);
    color: rgb(0, 0, 0);
}
footer h6{

    margin-top: 2.2rem;
    font-size: 0.9em;
    color: rgb(173, 170, 170);
}
footer p{

    margin-top: 2rem;
    font-size: 0.9em;
    color: rgba(173, 170, 170, 0.784);
}
footer p a{
    text-decoration: underline;
    color: rgb(53, 120, 244);
}